<template>
  <v-timeline-item
      :color="color"
      :icon="icon"
  >
    <v-card>
      <h3>Voorwaarde</h3>
      <p>Titel: {{ title }}</p>
      <p>Expressie: {{ expression }}</p>
      <p>Resultaat als expressie waar is: {{ outcome === 'Negative' ? 'Negatief' : 'Positief' }}</p>
      <p>Resultaat: {{ result }}</p>
    </v-card>
  </v-timeline-item>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: 'ConditionList',
  props: ['title', 'expression', 'outcome', 'index'],
  computed: {
    ...mapGetters(['processBySlug', 'processInstanceActivities']),
    color() {
      switch (this.result) {
        case 'Neutraal':
        case 'Positief':
          return 'success';
        case 'Negatief':
          return 'primary';
        default:
          return 'info';
      }
    },
    icon() {
      switch (this.result) {
        case 'Neutraal':
        case 'Positief':
          return 'mdi-check-circle';
        case 'Negatief':
          return 'mdi-close-circle';
        default:
          return 'mdi-stop-circle';
      }
    },
    p() {
      return this.processBySlug(this.$route.params.slug);
    },
    endEvent() {
      return this.processInstanceActivities.find(activity => activity.type === 'noneEndEvent');
    },
    triggeredCondition() {
      if (! this?.endEvent?.name) {
        return null;
      }
      return this.p.conditions.find(condition => condition.title === this.endEvent.name);
    },
    result() {
      if (!this.triggeredCondition) {
        return 'Neutraal';
      }

      if (this.triggeredCondition.title === this.title) {
        return this.outcome === 'Negative' ? 'Negatief' : 'Positief';
      }

      if (this.index > this.triggeredCondition.index) {
        return 'Niet bereikt';
      }

      return 'Neutraal';
    },
  },
}
</script>