<template>
  <v-timeline-item
      :color="color"
      :icon="icon"
  >
    <v-card>
      <h3>API aanroep</h3>
      <p>Titel: {{ title }}</p>
      <p>URL: {{ url }}</p>
      <p>Method: {{ method }}</p>
      <div v-if="body">
        <p class="connection-body">Request body: {{ body }}</p>
        <v-btn
            @click="toggleBodyValue()"
            v-if="toggleBody"
            color="secondary"
            class="toggle-body-value"
        >
          Toon gebruikte waarde
        </v-btn>
      </div>
      <div v-if="path">
        <p class="connection-path">Path: {{ path }}</p>
        <v-btn
            @click="togglePathValue()"
            v-if="togglePath"
            color="secondary"
            class="toggle-path-value"
        >
          Toon gebruikte waarde
        </v-btn>
      </div>
      <div class="connection-headers" v-if="headers.length">
        <p>Header(s): </p>
        <ul
          v-for="header in headers"
          :key="header.id"
        >
          <li>{{ header.key }}: {{ header.value }}</li>
        </ul>
      </div>
      <div class="connection-mappings" v-if="mappings.length">
        <p>Output(s): </p>
        <ul
            v-for="(output, key) in getOutputs()[0]"
            :key="key"
        >
          <li>{{ key }}: {{ output }}</li>
        </ul>
      </div>
    </v-card>
  </v-timeline-item>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: 'ConnectionList',
  props: ['title', 'url', 'method', 'body', 'path', 'headers', 'mappings'],
  data: () => ({
    toggleBody: true,
    togglePath: true,
  }),
  computed: {
    ...mapGetters([
      'inputVariables',
      'processInstanceVariables'
    ]),
    color() {
      return this.getOutputs().length > 0 ? 'success' : 'primary';
    },
    icon() {
      return this.getOutputs().length > 0 ? 'mdi-check-circle' : 'mdi-close-circle';
    },
  },
  methods: {
    replaceJson(json) {
      if (typeof json !== 'string') {
        json = Object.values(json)[0];
      }

      let variable = {};
      for (const [key, value] of Object.entries(this.processInstanceVariables)) {
        if (json.includes(key)) {
          variable = {
            key: key,
            value: value,
          }
        }
      }
      if (Object.keys(variable).length) {
        json = json.replace(new RegExp(`{{${variable.key}}}`, 'g'), variable.value);
      } else {
        const slug = json.match(new RegExp('[^{{]+(?=}})', 'g'));
        if (typeof this.processInstanceVariables[slug] !== 'undefined') {
          json = json.replace(new RegExp(`{{${slug}}}`, 'g'), this.processInstanceVariables[slug]);
        }
      }
      return json;
    },
    getOutputs() {
      const mappingOutputs = this.mappings.map(mapping => mapping.output);
      const processInstanceVariables = this.processInstanceVariables;
      return mappingOutputs.map(mappingOutput => ({ [mappingOutput]: processInstanceVariables[mappingOutput] }));
    },
    toggleBodyValue() {
      this.toggleBody = !this.toggleBody;
      this.body = this.replaceJson(this.body);
    },
    togglePathValue() {
      this.togglePath = !this.togglePath;
      this.path = this.replaceJson(this.path);
    },
  },
}
</script>

<style lang="scss">
.connection-body, .connection-path {
  display: inline-block;
}

.toggle-body-value, .toggle-path-value {
  margin-left: 16px;
}

.toggle-body-value .v-btn__content, .toggle-path-value .v-btn__content {
  color: white;
}

.connection-headers ul, .connection-mappings ul {
  font-size: .9em;
  margin-left: 16px;
}
</style>