<template>
  <v-timeline-item
    :color="color"
    :icon="icon"
  >
    <v-card class="decision-table-card">
      <h3>Beslistabel</h3>
      <div class="dmn-table"></div>
    </v-card>
  </v-timeline-item>
</template>

<script>
import DmnJS from 'dmn-js';
import { mapGetters } from "vuex";

export default {
  name: 'DecisionTableList',
  props: ['title', 'DMN'],
  computed: {
    ...mapGetters(['processInstanceVariables']),
    color() {
      return this.processInstanceVariables?.result?.approved ? 'success' : 'primary';
    },
    icon() {
      return this.processInstanceVariables?.result?.approved ? 'mdi-check-circle' : 'mdi-close-circle';
    },
  },
  async created () {
    const viewer = new DmnJS({
      container: '.history',
    });

    try {
      await viewer.importXML(this.DMN, {open: false});
      const views = viewer.getViews();
      const decisionView = views.filter(v => v.type === 'decisionTable')[0];
      viewer.open(decisionView);
      viewer.attachTo('.dmn-table');
    } catch (err) {
      console.log('error rendering', err)
    }
  },
}
</script>

<style lang="scss">
.dmn-table table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  table-layout: fixed;
  display: block;
  overflow-x: scroll;
}

.dmn-table td, .dmn-table th {
  border: 3px solid black;
}

.dmn-table {
  padding: 10px;
}
</style>