<template>
  <v-timeline-item
    :color="color"
    :icon="icon"
  >
    <v-card>
      <h3>Gegeven</h3>
      <p>Titel: {{ title }}</p>
      <p>Technische naam: {{ slug }}</p>
      <p>Waarde: {{ getValueBySlug() }}</p>
    </v-card>
  </v-timeline-item>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: 'VariableList',
  props: ['title', 'slug'],
  computed: {
    ...mapGetters([
      'processInstanceVariables',
    ]),
    color() {
      return this.getValueBySlug(this.slug) === 'Onbekend / Niet gevraagd' ? 'info' : 'success';
    },
    icon() {
      return this.getValueBySlug(this.slug) === 'Onbekend / Niet gevraagd' ? 'mdi-stop-circle' : 'mdi-check-circle';
    },
  },
  methods: {
    getValueBySlug() {
      if (!(this.slug in this.processInstanceVariables) ||
          this.processInstanceVariables[this.slug] === '') {
        return 'Onbekend / Niet gevraagd';
      }

      return this.processInstanceVariables[this.slug];
    },
  },
}
</script>

<style lang="scss">
.v-timeline-item p {
  margin-bottom: 0;
  font-size: 0.9em;
  padding-left: 16px;
}

.v-timeline-item p:last-child {
  padding-bottom: 5px;
}

.v-timeline-item h3 {
  text-align: center;
  padding-top: 5px;
}
</style>