<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">
        <v-img
          alt="Groningen"
          class="shrink mr-2 hidden-md-and-up"
          contain
          :src="icon"
          transition="scale-transition"
          width="40"
        />

        <v-img
          alt="Groningen"
          class="shrink mt-1 hidden-sm-and-down"
          contain
          min-width="100"
          :src="logo"
          width="100"
        />
      </div>

      <v-spacer></v-spacer>

      <v-btn
        href="https://github.com/vuetifyjs/vuetify/releases/latest"
        target="_blank"
        text
        dark
      >
        <span class="mr-2">{{ environment }}</span>
      </v-btn>
    </v-app-bar>

    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'App',

  computed: {
    ...mapGetters(['environment']),
    icon () {
      return require('@/assets/logo.jpeg')
    },
    logo () {
      return require('@/assets/logo-groningen-wit.png')
    },
  },
};
</script>

<style lang="scss">
* {
  font-family: 'Nunito Sans', sans-serif;
  color: #08223F;
}

.theme--light {
  color: var(--v-secondary-darken4)!important;
}

.theme--dark,
.theme--dark * {
  color: white!important;
}

.theme--light.v-application {
    background-color: var(--v-background-base) !important;
}

.v-btn {
  text-transform: none!important;
  font-weight: bold!important;
  font-size: 1rem;
}
</style>
