/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #6b8ec4;
  --ifm-color-primary-dark: #557dbb;
  --ifm-color-primary-darker: #4b75b7;
  --ifm-color-primary-darkest: #3c6098;
  --ifm-color-primary-light: #819fcd;
  --ifm-color-primary-lighter: #8ba7d1;
  --ifm-color-primary-lightest: #acc0de;
  --ifm-color-secondary: #db322f;
  --ifm-color-secondary-dark: #cc2623;
  --ifm-color-secondary-darker: #c12421;
  --ifm-color-secondary-darkest: #9f1e1b;
  --ifm-color-secondary-light: #df4846;
  --ifm-color-secondary-lighter: #e15451;
  --ifm-color-secondary-lightest: #e77573;
  --ifm-color-tertiary: #fcfa00;
  --ifm-color-tertiary-dark: #e3e100;
  --ifm-color-tertiary-darker: #d6d400;
  --ifm-color-tertiary-darkest: #b0af00;
  --ifm-color-tertiary-light: #fffd16;
  --ifm-color-tertiary-lighter: #fffd23;
  --ifm-color-tertiary-lightest: #fffe49;
  --ifm-code-font-size: 95%;
}

.primary-text {
  color: var(--ifm-color-primary);
}

.secondary-text {
  color: var(--ifm-color-secondary);
}

.tertiary-text {
  color: var(--ifm-color-tertiary);
}

.button.button--secondary {
  color: var(--ifm-color-white);
}

html[data-theme='dark'] .button.button--secondary {
  color: var(--ifm-font-color-base-inverse);
}

html[data-theme='dark'] {
  --ifm-color-feedback-background: #f0f8ff;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.footer--dark {
  --ifm-footer-background-color: #08223f;
}

.unique-tabs .tabs__item {
  height: 18px;
  line-height: 16px;
  margin-right: 8px;
}

.unique-tabs .tabs__item--active {
  border: 0;
  color: #fff;
  border-radius: var(--ifm-global-radius);
  background-color: var(--ifm-tabs-color-active);
}

html[data-theme='light'] .themedDocusaurus [fill='#FFFF50'] {
  fill: #fffe69;
}

html[data-theme='dark'] .themedDocusaurus [fill='#FFFF50'] {
  fill: #ebc6b4;
}

html[data-theme='light'] .DocSearch {
  /* --docsearch-primary-color: var(--ifm-color-primary); */
  /* --docsearch-text-color: var(--ifm-font-color-base); */
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(94, 100, 112, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-color-secondary-lighter);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-color-secondary);
  --docsearch-searchbox-focus-background: var(--ifm-color-white);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-white);
  /* Footer */
  --docsearch-footer-background: var(--ifm-color-white);
}

html[data-theme='dark'] .DocSearch {
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(47, 55, 69, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-background-color);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-background-color);
  --docsearch-searchbox-focus-background: var(--ifm-color-black);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-emphasis-100);
  /* Footer */
  --docsearch-footer-background: var(--ifm-background-surface-color);
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    var(--ifm-color-emphasis-200) 0%,
    var(--ifm-color-emphasis-100) 100%
  );
}
