<template>
  <v-container class="attributes">
    <v-row>
      <v-col>
        <h1 class="mb-4">Gegevens</h1>
        <v-btn
          block
          dark
          large
          @click="clearAttributes"
          color="primary"
          class="mb-8"
        >
          Alles wissen
        </v-btn>
        <v-expansion-panels>
          <v-expansion-panel
            v-for="attribute in filteredAttributes"
            :key="attribute.slug"
          >
            <v-expansion-panel-header>
              {{ attribute.title }}
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              {{ attribute.value }}
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'Attributes',
  computed: {
    ...mapGetters([
      'attributes',
    ]),
    filteredAttributes () {
      return (this.attributes || []).filter(attribute => ! attribute.slug.includes('zoekhulp'))
    },
  },
  methods: {
    ...mapActions(['clearAttributes'])
  },
}
</script>
