<template>
  <v-container class="check-container">
    <div>
      <v-slide-y-reverse-transition
        class="cards-container"
        group
        tag="div"
      >
        <template
          v-for="(variableActivity, index) in filteredVariableActivities"
          class="pa-4 variable-card"
        >
          <v-card
            :key="index"
            class="pa-4 mx-8 mb-8"
          >
            <h3 class="text-center mb-4">
              {{ variableActivity.processVariable.description }}
            </h3>
            <p class="text-center">
              {{ processInstanceVariables[variableActivity.name] }}
            </p>
          </v-card>
        </template>
      </v-slide-y-reverse-transition>
    </div>
    <div>
      <Spinner :state="spinnerState" />
      <div
        v-if="expectingInput"
        class="input-container mx-8"
      >
        <div
          v-if="showTextfield"
          class="manual-text-input"
        >
          <v-text-field
            solo
            rounded
            autofocus
            v-model="manualInput"
            @keyup.enter="submitVariable"
            :disabled="savingVariable || submittingVariable || reusingAttribute"
            :rules="rules"
            :placeholder="lastActivity.processVariable.description"
            :prepend-inner-icon="textfieldIcon(lastActivity.processVariable.type)"
          >
          </v-text-field>
          <v-btn
            fab
            rounded
            color="primary"
            elevation="0"
            dark
            absolute
            :disabled="submitDisabled"
            @click="submitVariable"
          >
            <v-icon medium>mdi-upload</v-icon>
          </v-btn>
        </div>
        <div
          v-if="showBooleanButtons"
          class="manual-boolean-input text-center"
        >
          <v-btn
            rounded
            large
            color="primary"
            elevation="0"
            dark
            class="mx-2"
            :disabled="savingVariable || submittingVariable"
            @click="submitBoolean(false)"
          >
            Nee
          </v-btn>
          <v-btn
            rounded
            large
            color="primary"
            elevation="0"
            dark
            class="mx-2"
            :disabled="savingVariable || submittingVariable"
            @click="submitBoolean(true)"
          >
            Ja
          </v-btn>
        </div>
        <div
          v-if="showQrCode"
          class="qr-code-card"
        >
          <h3>Scan deze QR-code in pallet op uw mobiele telefoon</h3>
          <v-img :src="qrCodeImage" />
        </div>
      </div>
    </div>
    <ProgressBar />
    <v-dialog
      v-model="dialog"
      persistent
      scrollable
      max-width="400"
    >
      <v-card>
        <v-toolbar
          color="primary"
          dark
        >
          Hergebruik gegevens
        </v-toolbar>

        <v-card-text class="mt-4">
          Er start zo een nieuwe check. Deze check heeft gegevens nodig die u net ook al heeft gedeeld. Wilt u die gegevens automatisch delen met de nieuwe check?
        </v-card-text>

        <v-alert
          v-for="(attribute, index) in reusableAttributes"
          :key="index"
          dense
          outlined
          class="mx-4"
          icon="mdi-check-circle-outline"
          type="success"
        >
          {{ attribute.title }}
        </v-alert>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="quinary"
            text
            @click="disagreeToReuseAttributes"
          >
            Nee
          </v-btn>

          <v-btn
            color="tertiary"
            dark
            @click="agreeToReuseAttributes"
          >
            Ja
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import Spinner from '@/components/Spinner.vue'
import ProgressBar from '@/components/ProgressBar.vue'

export default {
  name: 'Check',
  components: {
    Spinner,
    ProgressBar,
  },
  data: () => ({
    pollingInterval: 2000,
    intervalPollingVariables: null,
    intervalPollingActivities: null,
    intervalPollingStatus: null,
    manualInput: '',
    submittingVariable: false,
    savingVariable: false,
    dialog: false,
    reuseAttributes: false,
    reusingAttribute: false,
  }),
  computed: {
    ...mapGetters([
      'qrCodeImage',
      'sessionId',
      'processes',
      'processInstanceToken',
      'processInstanceKey',
      'runningProcess',
      'processInstanceVariables',
      'processInstanceActivities',
      'processInstanceStatus',
      'inputVariables',
      'outputVariables',
      'attributes',
    ]),
    p () {
      return this.processes.find(p => p.slug === this.$route.params.slug)
    },
    filteredVariableActivities () {
      return this.variableActivities.filter(variableActivity => ! variableActivity.name.toLowerCase().includes('zoekhulp'))
    },
    variableActivities () {
      return this.processInstanceActivities
          .filter(activity => activity.type === 'intermediateMessageCatch')
          .map(processInstanceActivity => {
            processInstanceActivity.processVariable = this.findProcessVariableBySlug(processInstanceActivity.name)
            return processInstanceActivity
          })
    },
    filteredProcessVariables () {
      return (this.p?.variables || []).filter(variable => ! variable.slug.includes('zoekhulp'))
    },
    spinnerState() {
      if (! this.runningProcess) {
        return 'loading'
      }

      if (this.savingVariable) {
        return 'saving'
      }

      if (this.submittingVariable) {
        return 'receiving'
      }

      if (this.expectingInput) {
        return this.manualInput !== '' && this.lastActivity?.processVariable?.type !== 'boolean' ? 'waiting' : 'idle'
      }

      if (! this.lowerCaseLastActivityName.includes('zoekhulp')) {
        return 'loading'
      }

      // 'appearing',
      // 'saving',
      // 'approval',
      // 'rejection',

      return 'appearing'
    },
    pollingPayload () {
      return this.processInstanceToken && this.processInstanceKey && this.runningProcess
        ? {
          token: this.processInstanceToken,
          key: this.processInstanceKey,
        }
        : null
    },
    lastActivity () {
      if (! this.processInstanceActivities.length) {
        return null
      }
      const activity = this.processInstanceActivities[this.processInstanceActivities.length - 1]
      if (activity.type === 'intermediateMessageCatch') {
        activity.processVariable = this.findProcessVariableBySlug(activity.name)
      }
      return activity
    },
    endEvent () {
      return this.processInstanceActivities.find(activity => activity.type === 'noneEndEvent')
    },
    triggeredCondition () {
      if (! this?.endEvent?.name) {
        return null
      }
      return this.p.conditions.find(condition => condition.title === this.endEvent.name)
    },
    lowerCaseLastActivityName () {
      return (this.lastActivity?.name || '').toLowerCase()
    },
    expectingInput () {
      return this.lastActivity?.type === 'intermediateMessageCatch' &&
        ! this.outputVariables.find(outputVariable => outputVariable.key === this.lastActivity?.name) &&
        ! this.lowerCaseLastActivityName.includes('zoekhulp')
    },
    rules () {
      const processVariable = this.lastActivity?.processVariable
      if (! processVariable) {
        return []
      }

      if (processVariable.type.toLowerCase() === 'string') {
        return [ value => !!value || 'Vul hierboven iets in' ]
      }

      if (processVariable.type.toLowerCase() === 'number') {
        return [ value => !!value.toString().match(/^\d+$/) || 'Vul een getal in' ]
      }

      return []
    },
    submitDisabled () {
      if (this.manualInput === '') {
        return true
      }

      const processVariable = this.lastActivity?.processVariable
      if (! processVariable) {
        return true
      }

      return processVariable.type.toLowerCase() === 'number' && !this.manualInput.toString().match(/^\d+$/);
    },
    reusableAttributes () {
      const slugs = this.filteredProcessVariables.map(variable => variable.slug)
      return this.attributes.filter(attribute => slugs.includes(attribute.slug))
    },
    showQrCode () {
      return this.lastActivity?.processVariable?.source.toLowerCase() === 'pallet';
    },
    showTextfield () {
      return this.lastActivity?.processVariable?.source.toLowerCase() === 'input' && this.lastActivity?.processVariable?.type.toLowerCase() !== 'boolean'
    },
    showBooleanButtons () {
      return this.lastActivity?.processVariable?.source.toLowerCase() === 'input' && this.lastActivity?.processVariable?.type.toLowerCase() === 'boolean'
    },
  },
  watch: {
    pollingPayload (current) {
      console.log('watch:pollingPayload', current)
      if (current) {
        this.startPolling()
      }
    },
    lastActivity (current) {
      console.log('watch:lastActivity', current);
      if ((current?.name || '').includes('zoekhulp')) {
        this.submitVariablesRequest(current.name, '', 'String')
      }
      if (this.reuseAttributes) {
        const attribute = this.reusableAttributes.find(attribute => attribute.slug === current.name)
        console.log('watch:lastActivity', attribute)
        if (attribute) {
          this.manualInput = attribute.value
          this.reusingAttribute = true
          this.submitVariable()
        }
      }
      if (current?.processVariable?.source.toLowerCase() === 'pallet' && !this.sessionId) {
        this.createSession(this.pollingPayload);
      }
    },
    processInstanceActivities (current) {
      console.log('activities', current);
    },
    processInstanceVariables (current, previous) {
      console.log('watch:processInstanceVariables', current, previous);

      this.updateOutputVariables(current);

      if (current &&
        previous &&
        Object.keys(current).length > Object.keys(previous).length &&
        ! this.lowerCaseLastActivityName.includes('zoekhulp')
      ) {
        this.manualInput = ''
        this.savingVariable = true
        this.submittingVariable = false
        this.stopPolling()
        this.clearWalletData()
        this.setCurrentProgress(this.getFilteredOutputVariableIndex())
        setTimeout(() => {
          this.savingVariable = false
          this.startPolling()
        }, 2000)
      }
    },
    processInstanceStatus (current) {
      console.log('status', current)
      if (current !== null && current.toLowerCase() !== 'active') {
        console.log('done')
        this.setResult({
          slug: this.p.slug,
          triggeredCondition: this.triggeredCondition,
        })
        this.$router.push({ name: 'CheckResult', params: { slug: this.p.slug } })
        setTimeout(() => {
          this.stopPolling()
        }, 5000)
      }
    },
  },
  methods: {
    ...mapActions([
      'createSession',
      'clearWalletData',
      'instantiateProcess',
      'fetchProcessInstanceActivities',
      'fetchProcessInstanceStatus',
      'fetchProcessInstanceVariables',
      'setResult',
      'clearProcessInstance',
      'submitVariables',
      'updateOutputVariables',
      'setInputVariables',
      'setAttribute',
      'setCurrentProgress',
      'setTotalProgress',
    ]),
    tryToStartProcess () {
      if (! this.p) {
        return
      }
      if (this.runningProcess?.slug === this.p.slug) {
        return
      }

      this.reuseAttributes = false
      this.dialog = this.reusableAttributes.length > 0

      if (this.dialog) {
        return
      }

      setTimeout(() => {
        this.instantiateProcess(this.p)
      }, 2000)
    },
    startPolling () {
      console.log('start polling', this.pollingPayload)
      this.intervalPollingActivities = setInterval(() => {
        if (this.pollingPayload) {
          this.fetchProcessInstanceActivities(this.pollingPayload)
        }
      }, this.pollingInterval)
      this.intervalPollingStatus = setInterval(() => {
        if (this.pollingPayload) {
          this.fetchProcessInstanceStatus(this.pollingPayload)
        }
      }, this.pollingInterval)
      this.startPollingVariables()
    },
    startPollingVariables () {
      this.intervalPollingVariables = setInterval(() => {
        if (this.pollingPayload) {
          this.fetchProcessInstanceVariables(this.pollingPayload)
        }
      }, this.pollingInterval)
    },
    submitBoolean (value) {
      this.manualInput = value
      this.submitVariable()
    },
    submitVariable() {
      if ((this.submitDisabled || ! this.expectingInput) && ! this.reusingAttribute) {
        return;
      }

      this.stopPolling();
      this.submittingVariable = true;
      this.setInputVariables({[this.lastActivity.name]: this.manualInput});

      const variableKey = this.manualInput;
      if (this.lastActivity?.processVariable?.source.toLowerCase() !== 'pallet') {
        variableKey === 'number' ? parseInt(this.manualInput) : this.manualInput.toString();
      }

      try {
        this.submitVariablesRequest(
          this.lastActivity.name,
          variableKey,
          this.lastActivity.processVariable.type === 'number' ? 'Integer' : 'String',
        );
      } finally {
        console.log('variables sent');
        this.startPollingVariables();
      }
    },
    submitVariablesRequest(key, value, type) {
      this.submitVariables({
        key: this.pollingPayload.key,
        token: this.pollingPayload.token,
        data: { variables: { [key]: { value, type } } }
      });
    },
    findProcessVariableBySlug (slug) {
      return this.runningProcess?.variables.find(variable => variable.slug === slug)
    },
    stopPolling () {
      console.log('stop polling')
      clearInterval(this.intervalPollingActivities)
      clearInterval(this.intervalPollingVariables)
      clearInterval(this.intervalPollingStatus)
    },
    textfieldIcon (type) {
      return `mdi-${type.toLowerCase() === 'number' ? 'numeric' : 'alphabetical'}`
    },
    agreeToReuseAttributes () {
      this.reuseAttributes = true
      this.dialog = false
      this.instantiateProcess(this.p)
    },
    disagreeToReuseAttributes () {
      this.reuseAttributes = false
      this.dialog = false
      this.instantiateProcess(this.p)
    },
    getFilteredOutputVariableIndex() {
      const slugs = this.filteredProcessVariables.map(variable => variable.slug);
      if (this.outputVariables.length) {
        return this.outputVariables.filter(variable => slugs.includes(variable.key)).length;
      }
      return 0;
    },
    scrollToBottom() {
      const element = document.getElementsByClassName('cards-container');
      if (!element.length) {
        return;
      }
      element[0].scrollTo(0, element[0].scrollHeight);
    },
  },
  updated() {
    this.scrollToBottom();
  },
  async created () {
    this.clearWalletData();
    await this.clearProcessInstance();
    this.tryToStartProcess();
    this.setTotalProgress(this.filteredProcessVariables.length);
    this.setCurrentProgress(this.getFilteredOutputVariableIndex());
  },
}
</script>

<style lang="scss">
.check-container {
  height: 100%;
  display: flex;
  flex-flow: column;

  > div {
    flex: 1;
    position: relative;

    .cards-container {
      position: absolute;
      bottom: 20px;
      width: 100%;
      max-height: 100%;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .v-card {
        min-height: 114px;
        box-shadow: 5px 5px 15px darkgrey;
      }
    }

    .input-container {
      margin-top: -124px;
    }
  }
}

.manual-text-input {
  position: relative;

  .v-text-field--rounded > .v-input__control > .v-input__slot {
    padding: 0 60px 0 12px;
  }

  .v-btn {
    position: absolute;
    top: 0;
    right: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .v-btn--fab.v-size--default {
    width: 54px;
    height: 48px;
    padding-right: 4px;
  }
}

.qr-code-card {
  margin: -200px auto auto auto;
  text-align: center;

  .v-image {
    width: fit-content;
    margin: 7px auto auto auto;

    .v-responsive__content {
      width: 125px !important;
    }
  }
}
</style>
