<template>
  <div>
    <v-container>
      <v-row
        justify="center"
        class="mt-16 my-8"
      >
        <v-col cols="10">
          <v-card class="pa-4">
            <h3 class="text-center">
              Wilt u hulp bij het kiezen van een toeslag?
            </h3>
          </v-card>
        </v-col>
      </v-row>
      <v-row justify="center">
        <v-col cols="10">
          <v-btn
            :to="{ name: 'Zoekhulp' }"
            block
            large
            color="white"
            class="justify-start"
          >
            <v-icon left>
              mdi-check-circle-outline
            </v-icon>
            Ja, help me met kiezen
          </v-btn>
        </v-col>
      </v-row>
      <v-row justify="center">
        <v-col cols="10">
          <v-btn
            v-if="p"
            :to="{ name: 'Check', params: { slug: p.slug } }"
            block
            large
            color="white"
            class="justify-start"
          >
            <v-icon
              left
              color="primary"
            >
              mdi-close-circle-outline
            </v-icon>
            Nee, ik weet wat ik zoek
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
    <ProgressBar />
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import ProgressBar from '@/components/ProgressBar.vue'

export default {
  name: 'CheckEverything',
  components: {
    ProgressBar,
  },
  computed: {
    ...mapGetters(['processes']),
    p () {
      return this.processes[0]
    },
  },
  methods: {
    ...mapActions(['fetchProcesses']),
  },
  created () {
    if (! this.processes.length) {
      this.fetchProcesses()
    }
  },
}
</script>

<style lang="scss">

</style>
