<template>
  <v-container class="check-result">
    <v-row>
      <v-col>
        <v-card
          class="pt-1 px-8 pb-4"
        >
          <v-card
            class="mx-16 my-8"
            color="background"
          >
            <Spinner :state="isSuccess ? 'approval' : 'rejection'" />
          </v-card>
          <h1
            v-if="p && isSuccess"
            class="mt-4"
          >
            U hebt <span color="tertiary--text">recht</span> op de {{ p.title }}
          </h1>
          <h1
            v-if="p && ! isSuccess"
            class="mt-1"
          >
            U hebt <span class="quinary--text">geen recht</span> op de {{ p.title }}
          </h1>
          <h3>U voldoet <span v-if="! isSuccess">niet </span>aan alle voorwaarden.</h3>
        </v-card>
        <v-card
          class="mt-4 mb-8 pa-6 pb-2 filtered-conditions"
          v-if="filteredConditions.length"
        >
          <v-alert
            v-for="(condition, index) in filteredConditions"
            :key="index"
            dense
            outlined
            :icon="alertIcon(condition)"
            :type="alertType(condition)"
          >
            {{ condition.title }}
          </v-alert>
        </v-card>
        <v-btn
          block
          dark
          large
          color="primary"
          class="mb-8"
          :to="{ name: 'Home' }"
        >
          Terug naar het overzicht
        </v-btn>
      </v-col>
    </v-row>
    <v-row v-if="incompleteProcesses.length">
      <v-col cols="12">
        <h3 class="mb-6 text-center">Of ga verder met een van de volgende checks</h3>
        <ProcessList
          :remainingProcesses="incompleteProcesses"
          :showMinimaRegelingen="false"
        />
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-btn
            block
            dark
            large
            color="primary"
            class="mb-8"
            :to="{
              name: 'History',
              params: { slug: p.slug }
            }"
        >
          Historie
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import Spinner from '@/components/Spinner.vue'
import ProcessList from '@/components/ProcessList.vue'

export default {
  name: 'CheckResult',
  components: {
    Spinner,
    ProcessList,
  },
  computed: {
    ...mapGetters([
      'processes',
      'results',
      'processBySlug',
      'processInstanceVariables',
      'processInstanceActivities',
    ]),
    p () {
      return this.processBySlug(this.$route.params.slug)
    },
    conditions () {
      return this?.p?.conditions || []
    },
    filteredConditions () {
      return this.conditions.filter(condition => ! condition.title.toLowerCase().includes('zoekhulp'))
    },
    result () {
      return this.$store.getters.resultBySlug(this?.p?.slug)
    },
    endEvent () {
      return this.processInstanceActivities.find(activity => activity.type === 'noneEndEvent')
    },
    triggeredCondition () {
      if (! this?.endEvent?.name) {
        return null
      }
      return this.p.conditions.find(condition => condition.title === this.endEvent.name)
    },
    triggeredDecisionTable () {
      if (! this.p.decisionTables) {
        return null;
      }

      return this.processInstanceVariables.result;
    },
    isSuccess () {
      return this?.triggeredCondition?.outcome !== 'Negative' && this.triggeredDecisionTable?.approved !== false;
    },
    incompleteProcesses () {
      const slugs = this.results.map(result => result.slug)
      return this.processes.filter(p => ! slugs.includes(p.slug))
    },
  },
  methods: {
    ...mapActions(['updateAttribute']),
    alertIcon (condition) {
      if (! this.result) {
        return 'mdi-stop-circle-outline'
      }
      if (!condition) {
        return this.isSuccess ? 'mdi-check-circle-outline' : 'mdi-close-circle-outline'
      }
      if (! this.triggeredCondition) {
        return 'mdi-check-circle-outline'
      }
      if (condition.index < this.triggeredCondition.index) {
        return 'mdi-check-circle-outline'
      }
      if (condition.index > this.triggeredCondition.index) {
        return 'mdi-stop-circle-outline'
      }
      return this.isSuccess ? 'mdi-check-circle-outline' : 'mdi-close-circle-outline'
    },
    alertType (condition) {
      if (! this.result) {
        return 'info'
      }
      if (!condition) {
        return this.isSuccess ? 'success' : 'error'
      }
      if (! this.triggeredCondition) {
        return 'success'
      }
      if (condition.index < this.triggeredCondition.index) {
        return 'success'
      }
      if (condition.index > this.triggeredCondition.index) {
        return 'info'
      }
      return this.isSuccess ? 'success' : 'error'
    },
  },
  async created () {
    if (! this.processes.length) {
      await this.fetchProcesses()
    }
    await this.updateAttribute(this.p)
  },
}
</script>

<style lang="scss">

.check-result .spinner {
  transform: scale(0.7);
}

.check-result .filtered-conditions {
  max-height: 220px;
  overflow-y: scroll;
}
</style>
