<template>
  <v-expansion-panels>
    <v-expansion-panel
        v-for="step in steps"
        :key="step.id"
    >
      <v-expansion-panel-header>
        <p class="step-title">{{ step.title }}</p>
      </v-expansion-panel-header>
      <p class="step-status">{{ isStepCompleted(step) ? 'Voltooid' : 'Onvoltooid' }}</p>
      <v-expansion-panel-content>
        <v-timeline>
          <variable-list
            v-for="variable in step.variables"
            :key="variable.id"
            :title="variable.title"
            :slug="variable.slug"
          ></variable-list>
          <connection-list
            v-for="connection in step.connections"
            :key="connection.id"
            :title="connection.title"
            :url="connection.url"
            :method="connection.method"
            :body="connection.body"
            :path="connection.path"
            :headers="connection.headers"
            :mappings="connection.mappings"
          ></connection-list>
          <decision-table-list
              v-for="decisionTable in step.decisionTables"
              :key="decisionTable.id"
              :title="decisionTable.title"
              :DMN="decisionTable.DMN"
          ></decision-table-list>
          <condition-list
            v-for="condition in step.conditions"
            :key="condition.id"
            :title="condition.title"
            :expression="condition.expression"
            :outcome="condition.outcome"
            :index="condition.index"
          ></condition-list>
        </v-timeline>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
</template>

<script>
import { mapGetters } from "vuex";
import VariableList from '@/components/History/VariableList'
import ConnectionList from '@/components/History/ConnectionList'
import ConditionList from '@/components/History/ConditionList'
import DecisionTableList from '@/components/History/DecisionTableList'

export default {
  name: 'History',
  data: () => ({
    show: false,
  }),
  components: {
    VariableList,
    ConnectionList,
    ConditionList,
    DecisionTableList,
  },
  computed: {
    ...mapGetters([
      'processBySlug',
      'resultBySlug',
      'processInstanceVariables',
      'processInstanceActivities',
    ]),
    p() {
      return this.processBySlug(this.$route.params.slug);
    },
    endEvent() {
      return this.processInstanceActivities.find(activity => activity.type === 'noneEndEvent');
    },
    triggeredCondition() {
      if (! this?.endEvent?.name) {
        return null;
      }
      return this.p.conditions.find(condition => condition.title === this.endEvent.name);
    },
    triggeredDecisionTable () {
      if (! this.p.decisionTables) {
        return null;
      }

      return this.processInstanceVariables.result;
    },
    steps () {
      if (! this?.p?.steps) {
        return [];
      }
      return this.p.steps.filter(step => ! step.title.startsWith('Zoekhulp'))
    }
  },
  methods: {
    isStepCompleted(step) {
      for (const variable of step.variables) {
        if (!this.processInstanceVariables[variable.slug]) {
          return false;
        }
      }

      if (this.triggeredDecisionTable && !('approved' in this.triggeredDecisionTable)) {
        return false;
      }

      if (!this.triggeredCondition) {
        return true;
      }

      for (const condition of step.conditions) {
        if (condition.index > this.triggeredCondition.index) {
          return false;
        }
      }

      return true;
    },
  },
}
</script>

<style lang="scss">
p.step-title {
  max-width: fit-content;
  border-bottom: 4px solid var(--v-primary-base);
  padding-bottom: 8px;
  font-weight: bold;
  margin-bottom: 0;
  font-size: 1.27em;
}

p.step-status {
  padding-left: 24px;
  font-size: 0.875em;
  font-style: italic;
  color: rgba(0,0,0,.6);
}
</style>