<template>
  <v-card>
    <div class="d-flex flex-no-wrap justify-space-between">
      <div>
        <v-card-title>
          <h5 v-text="p.title" class="process-card-title pb-2" />
        </v-card-title>

        <v-card-subtitle
          class="mt-2"
          v-text="p.description || 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus urna ac ipsum pulvinar, ut semper nulla egestas.'"
        ></v-card-subtitle>
      </div>

      <v-avatar
        class="ma-3"
        size="100"
        tile
        v-if="image"
      >
        <a href="https://storyset.com/people" class="process-image-link">
          <v-img :src="image"></v-img>
        </a>
      </v-avatar>
    </div>
    <v-card-actions>
      <v-btn
        :to="{
          name: p.slug === 'minima-regelingen' ? 'CheckEverything': 'Check',
          params: { slug: p.slug },
        }"
        color="primary"
        block
        large
        dark
      >
        Start de Check
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
  export default {
    name: 'ProcessCard',
    props: {
      p: {
        type: Object,
        default: () => ({}),
      }
    },
    computed: {
      image () {
        return this.p.image?.url;
      },
    },
  }
</script>

<style lang="scss">
.theme--light.v-divider.divider-card-title {
  border: 2px solid var(--v-primary-base);
  border-radius: 3px;
  flex-basis: 100%;
}

.process-card-title {
  border-bottom: 4px solid var(--v-primary-base);
}

.process-image-link {
  width: 100%;
  height: 100%;
}
</style>
