<template>
  <div>
    <v-row v-if="this.matchingProcesses.length">
      <v-col md="9" sm="5"></v-col>
      <v-col md="3" sm="7">
        <v-card-actions>
          <v-btn
              @click="clearMatchingProcesses"
              color="primary"
              block
              large
              dark
          >
            Bekijk alle regelingen
          </v-btn>
        </v-card-actions>
      </v-col>
    </v-row>
    <v-row>
      <v-col
        v-if="showMinimaRegelingen"
        cols="12"
      >
        <ProcessCard :p="minimaRegelingen" />
      </v-col>
    </v-row>
    <v-row v-if="remainingProcesses.length">
      <v-col
        v-for="p in remainingProcesses"
        :key="p.id"
        cols="12"
      >
        <ProcessCard :p="p" />
      </v-col>
    </v-row>
    <v-row v-else>
      <v-col
        v-for="p in filteredProcesses"
        :key="p.id"
        cols="12"
      >
        <ProcessCard :p="p" />
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import ProcessCard from '@/components/ProcessCard'

export default {
  name: 'ProcessList',
  components: {
    ProcessCard
  },
  props: {
    showMinimaRegelingen: {
      type: Boolean,
      default: true,
    },
    remainingProcesses: {
      type: Array,
      default: () => [],
    }
  },
  data: () => ({
    minimaRegelingen: {
      title: 'Minima Regelingen',
      description: 'Aan de hand van vragen kunnen wij u helpen met het vinden van een toeslag waar u recht op heeft.',
      slug: 'minima-regelingen',
    }
  }),
  computed: {
    ...mapGetters(['filteredProcesses', 'matchingProcesses']),
  },
  methods: {
    ...mapActions(['fetchProcesses', 'clearMatchingProcesses']),
    getImageBySlug (slug) {
      return require(`@/assets/processes/${slug}.png`)
    },
  },
  created () {
    this.fetchProcesses()
  }
}
</script>

<style lang="scss">
.theme--light.v-divider.divider-card-title {
  border: 2px solid var(--v-primary-base);
  border-radius: 3px;
  flex-basis: 100%;
}
</style>
