<template>
  <v-progress-linear
    v-model="progress"
    color="secondary"
    height="24"
    dark
  >
    <template v-slot:default="{ value }">
      <strong>{{ Math.ceil(value) }}%</strong>
    </template>
  </v-progress-linear>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'ProgressBar',
  computed: {
    ...mapGetters([
      'currentProgress',
      'totalProgress',
    ]),
    progress () {
      return Math.ceil(this.currentProgress / this.totalProgress * 100)
    },
  },
}
</script>

<style lang="scss">
.theme--dark.v-progress-linear {
  position: fixed;
  width: 90%;
  left: 5%;
  bottom: 20px;
  border-radius: 12px;
  background-color: var(--v-secondary-lighten5);
  color: white;
}
</style>
