<template>
  <div class="spinner-container">
    <div
      class="spinner mx-auto"
      :class="state"
    >
      <svg width="200" height="200" viewBox="0 0 200 200" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <linearGradient x1="0" y1="0" x2="100%" y2="100%" id="gradient-outer">
          <stop class="gradient-brand-quaternary" offset="0"/>
          <stop class="gradient-brand-quaternary" offset="30%"/>
          <stop class="gradient-brand-tertiary" offset="30%"/>
          <stop class="gradient-brand-tertiary" offset="70%"/>
          <stop class="gradient-brand-quaternary" offset="70%"/>
          <stop class="gradient-brand-quaternary" offset="100%"/>
        </linearGradient>
        <linearGradient x1="0" y1="0" x2="100%" y2="100%" id="gradient-inner">
          <stop class="gradient-brand-quaternary" offset="0"/>
          <stop class="gradient-brand-quaternary" offset="40%"/>
          <stop class="gradient-brand-tertiary" offset="40%"/>
          <stop class="gradient-brand-tertiary" offset="80%"/>
          <stop class="gradient-brand-quaternary" offset="80%"/>
          <stop class="gradient-brand-quaternary" offset="100%"/>
        </linearGradient>
        <circle class="outer dash" />
        <circle class="outer dots" />
        <circle class="inner dash" />
        <circle class="inner dots" />
      </svg>
      <v-icon
        v-if="state === 'approval'"
        v-text="'mdi-check'"
        color="tertiary"
      />
      <v-icon
        v-if="state === 'rejection'"
        v-text="'mdi-close'"
        color="quinary"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'Spinner',
  props: {
    state: {
      type: String,
      default: 'gone',
    },
  },
  data: () => ({
    states: [
      'gone',
      'appearing',
      'loading',
      'idle',
      'waiting',
      'receiving',
      'saving',
      'approval',
      'rejection',
    ],
  }),
}
</script>

<style lang="scss">
.gradient-brand-quaternary {
  stop-color: var(--v-quaternary-base);
}

.gradient-brand-tertiary {
  stop-color: var(--v-tertiary-base);
}

.spinner-container {
  // padding-top: 400px;
}

.spinner {
  position: relative;
  width: 200px;
  height: 200px;
  opacity: 1;

  .v-icon {
    width: 100%;
    font-size: 60px;
    margin-top: calc(50% - 30px);
  }

  svg {
    position: absolute;

    circle {
      fill: transparent;
      stroke-linecap: round;
      transform-origin: center;
      cx: 100;
      cy: 100;
      
      &.outer.dots {
        stroke-dasharray: 0 115;
        stroke: url(#gradient-outer);
      }

      &.inner.dots {
        stroke-dasharray: 0 110;
        stroke: url(#gradient-inner);
      }

      &.dash {
        stroke-dasharray: 2 4;
        stroke-width: 1;
      }

      &.dots {
        stroke-width: 10;
      }

      &.inner {
        r: 70px;
        stroke: var(--v-tertiary-base);
        animation: rotate 20s linear infinite reverse;
        -webkit-animation: rotate 20s linear infinite reverse;
        -moz-animation: rotate 20s linear infinite reverse;
      }

      &.outer {
        r: 90px;
        stroke: var(--v-quaternary-base);
        animation: rotate 30s linear infinite;
        -webkit-animation: rotate 30s linear infinite;
        -moz-animation: rotate 30s linear infinite;
      }
    }
  }

  &.gone {
    opacity: 0;
  }

  &.appearing {
    animation: fade-in 2s;
    -webkit-animation: fade-in 2s;
    -moz-animation: fade-in 2s;
  }

  &.loading {
    animation: fade-in 2s;
    -webkit-animation: fade-in 2s;
    -moz-animation: fade-in 2s;

    svg {
      circle {
        &.inner {
          animation-duration: 3s;
          animation-direction: normal;
        }
        &.outer {
          animation-duration: 4s;
        }
      }
    }
  }

  &.waiting {
    opacity: 0;
    animation:
      scale-away 4s,
      fade-out 4s;
    -webkit-animation:
      scale-away 4s,
      fade-out 4s;
    -moz-animation:
      scale-away 4s,
      fade-out 4s;
    
    svg {
      circle {
        &.inner,
        &.outer {
          animation-duration: 4s;
        }
      }
    }
  }

  &.receiving {
    opacity: 1;
    transform: scale(.75);
    animation:
      pulse 2s ease-in-out,
      fade-in 4s;
    -webkit-animation:
      pulse 2s ease-in-out,
      fade-in 4s;
    -moz-animation:
      pulse 2s ease-in-out,
      fade-in 4s;
    
    svg {
      circle {
        &.inner {
          animation-duration: 6s;
        }
        &.outer {
          animation-duration: 10s;
          animation-direction: reverse;
        }
      }
    }
  }

  &.saving {
    transform: scale(0.5);
    animation: scale-down 2s;
    -webkit-animation: scale-down 2s;
    -moz-animation: scale-down 2s;
    
    svg {
      opacity: 0;
      top: -400px;
      animation:
        move-up 4s,
        fade-out 3s;
      -webkit-animation:
        move-up 4s,
        fade-out 3s;
      -moz-animation:
        move-up 4s,
        fade-out 3s;
    
      circle {
        &.inner {
          animation-duration: 2s;
          animation-direction: normal;
        }
        &.outer {
          animation-duration: 3s;
        }
      }
    }
  }

  &.approval {
    opacity: 1;
    animation: fade-in 1s;
    -webkit-animation: fade-in 1s;
    -moz-animation: fade-in 1s;

    svg {
      circle {
        &.outer {
          animation-duration: 100s;
          stroke: var(--v-tertiary-base);
        }

        &.inner {
          animation-duration: 120s;
          stroke: var(--v-tertiary-base);
        }
      }
    }
  }

  &.rejection {
    opacity: 1;
    animation: fade-in 1s;
    -webkit-animation: fade-in 1s;
    -moz-animation: fade-in 1s;

    svg {
      circle {
        &.outer {
          animation-duration: 100s;
          stroke: var(--v-quaternary-base);
        }

        &.inner {
          animation-duration: 120s;
          stroke: var(--v-quaternary-base);
        }
      }
    }
  }
}

@keyframes scale-down {
  from { transform: scale(0.75); }
  to { transform: scale(0.5); }
}
@-webkit-keyframes scale-down {
  0% { transform: scale(0.75); }
  100% { transform: scale(0.5); }
}
@-moz-keyframes scale-down {
  0% { transform: scale(0.75); }
  100% { transform: scale(0.5); }
}

@keyframes move-up {
  from { top: 0; }
  to { top: -400px; }
}
@-webkit-keyframes move-up {
  from { top: 0; }
  to { top: -400px; }
}
@-moz-keyframes move-up {
  from { top: 0; }
  to { top: -400px; }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes pulse {
  0% { transform: scale(0); }
  35% { transform: scale(.9); }
  50% { transform: scale(.75); }
  75% { transform: scale(.82); }
  100% { transform: scale(.75); }
}
@-webkit-keyframes pulse {
  0% { transform: scale(0); }
  35% { transform: scale(.9); }
  50% { transform: scale(.75); }
  75% { transform: scale(.82); }
  100% { transform: scale(.75); }
}
@-moz-keyframes pulse {
  0% { transform: scale(0); }
  35% { transform: scale(.9); }
  50% { transform: scale(.75); }
  75% { transform: scale(.82); }
  100% { transform: scale(.75); }
}

@keyframes scale-away {
  from { transform: scale(1); }
  to { transform: scale(0); }
}
@-webkit-keyframes scale-away {
  from { transform: scale(1); }
  to { transform: scale(0); }
}
@-moz-keyframes scale-away {
  from { transform: scale(1); }
  to { transform: scale(0); }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-webkit-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-moz-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes rotate {
  to { transform: rotate(360deg); }
}
@-webkit-keyframes rotate {
  to { transform: rotate(360deg); }
}
@-moz-keyframes rotate {
  to { transform: rotate(360deg); }
}

</style>
