<template>
  <div>
    <v-container v-if="step">
      <v-row
        justify="center"
        class="mt-16 my-8"
      >
        <v-col cols="10">
          <v-card class="pa-4">
            <h3 class="text-center mb-4">
              {{ step.question }}
            </h3>
            <p class="text-center">U kunt één antwoord kiezen.</p>
          </v-card>
        </v-col>
      </v-row>
      <v-row
        v-for="(answer, index) in step.answers"
        :key="index"
        justify="center"
      >
        <v-col cols="12">
          <v-btn
            @click="selectAnswer(answer, index)"
            block
            large
            color="white"
            class="zoekhulp-answer justify-start"
            :class="getButtonClasses(index)"
          >
            <v-icon
              left
              color="secondary"
            >
              {{ answer.icon }}
            </v-icon>
            {{ answer.text }}
            <v-tooltip
              v-if="answer.info"
              top
            >
              <template v-slot:activator="{ on, attrs }">
                <v-icon
                  left
                  color="black"
                  v-bind="attrs"
                  v-on="on"
                  class="zoekhulp-tooltip-icon"
                >
                  mdi-information
                </v-icon>
              </template>
              <span>{{ answer.info }}</span>
            </v-tooltip>
          </v-btn>
        </v-col>
      </v-row>
      <v-row
        class="mt-8"
        justify="center"
      >
        <v-col cols="10">
          <v-btn
            :disabled="selectedAnswer < 0"
            @click="gotoNextStep()"
            block
            large
            color="primary"
            class="white--text"
          >
            Verder naar {{ targetName }}
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
    <ProgressBar />
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import ProgressBar from '@/components/ProgressBar.vue'

export default {
  name: 'Zoekhulp',
  components: {
    ProgressBar,
  },
  data: () => ({
    selectedAnswer: -1,
    steps: [
      {
        name: 'carriere',
        slug: 'carriere',
        question: 'Wat is uw werksituatie?',
        variable: {
          slug: 'input_string___zoekhulp_werksituatie',
        },
        answers:[
          {
            icon: 'mdi-briefcase-remove',
            text: 'Ik heb geen werk',
            value: 'werkzoekend',
          },
          {
            icon: 'mdi-briefcase-check',
            text: 'Ik werk in loondienst',
            value: 'loondienst',
          },
          {
            icon: 'mdi-school',
            text: 'Ik ben student',
            value: 'student',
          },
          {
            icon: 'mdi-store',
            text: 'Ik ben ondernemer',
            value: 'ondernemer',
          },
        ],
      },
      {
        title: 'wonen',
        slug: 'wonen',
        question: 'Wat is uw woonsituatie?',
        variable: {
          slug: 'input_string___zoekhulp_woonsituatie',
        },
        answers:[
          {
            icon: 'mdi-human-handsup',
            text: 'Ik woon alleen',
            info: 'U staat als enige ingeschreven op uw adres',
            value: 'alleenstaand',
          },
          {
            icon: 'mdi-human-male-girl',
            text: 'Ik woon alleen met mijn kinderen',
            info: 'Jullie staan ingeschreven op hetzelfde adres',
            value: 'alleenstaande ouder',
          },
          {
            icon: 'mdi-human-male-female',
            text: 'Ik woon samen',
            info: 'Jullie staan ingeschreven op hetzelfde adres',
            value: 'samenwonend',
          },
          {
            icon: 'mdi-human-queue',
            text: 'Ik woon samen met mijn gezin',
            info: 'Jullie staan ingeschreven op hetzelfde adres',
            value: 'samenwonend met kinderen',
          },
        ],
      },
    ],
  }),
  computed: {
    currentProgress () {
      return this.step ? this.getStepIndex() : 0
    },
    step () {
      return this.steps.find(step => step.slug === this.$route.params.slug) || this.steps[0]
    },
    targetName () {
      return this.isLastStep() ? 'resultaten' : this.steps[this.getStepIndex()].title
    },
  },
  watch : {
    currentProgress (current) {
      this.setCurrentProgress(current)
    },
  },
  methods: {
    ...mapActions([
      'setCurrentProgress',
      'setTotalProgress',
      'setAttribute',
    ]),
    getStepIndex () {
      return this.steps.findIndex(step => step.slug === this.step.slug) + 1
    },
    selectAnswer (answer, index) {
      this.setAttribute({
        title: this.step.question,
        slug: this.step.variable.slug,
        value: answer.value,
      })
      this.selectedAnswer = index

    },
    isLastStep () {
      return this.getStepIndex() === this.steps.length
    },
    getNextStep () {
      return this.steps[this.getStepIndex()]
    },
    gotoNextStep () {
      const nextStep = this.getNextStep()
      if (nextStep) {
        this.selectedAnswer = -1
        this.$router.push({
          name: 'ZoekhulpStep',
          params: {
            slug: nextStep.slug,
          },
        })
      } else {
        this.setCurrentProgress(0)
        this.$router.push({name: 'Zoeken'})
      }
    },
    getButtonClasses (index) {
      return {
        selected: index === this.selectedAnswer
      }
    }
  },
  created () {
    this.setTotalProgress(this.steps.length)
    if (this.step) {
      this.setCurrentProgress(this.getStepIndex())
    }
  },
}
</script>

<style lang="scss">
.zoekhulp-tooltip-icon {
  position: absolute!important;
  right: -14px;
}

.v-btn.zoekhulp-answer.selected {
  border: 2px solid var(--v-primary-base)!important;
  box-shadow: none;
}
</style>
