<template>
  <v-container class="zoek-container">
    <Spinner state="loading" />
    <ProgressBar />
  </v-container>
</template>

<script>
import axios from 'axios'
import { mapActions, mapGetters } from 'vuex'
import ProgressBar from '@/components/ProgressBar.vue'
import Spinner from '@/components/Spinner.vue'

// - submit zoekhulpvariable
// - abort with success when expecting input for non-zoekhulp  variable
// - abort with success on process complete and last condition relates to zoekhulp
// - abort with success on process complete an not rejected on last condition

export default {
  name: 'Zoek',
  components: {
    ProgressBar,
    Spinner,
  },
  data: () => ({
    pollingInterval: 1000,
    intervalPollingActivities: null,
    intervalPollingStatus: null,
    manualInput: '',
    submittingVariable: false,
    savingVariable: false,
    dialog: false,
    reuseAttributes: false,
    reusingAttribute: false,
    //
    checkedProcesses: [],
    currentProcess: null,
  }),
  computed: {
    ...mapGetters([
      'processes',
      'processInstanceToken',
      'processInstanceKey',
      'runningProcess',
      'processInstanceActivities',
      'processInstanceStatus',
      'inputVariables',
      'outputVariables',
      'attributes',
    ]),
    lastActivity () {
      if (! this.processInstanceActivities.length) {
        return null
      }
      const activity = this.processInstanceActivities[this.processInstanceActivities.length - 1]
      if (activity.type === 'intermediateMessageCatch') {
        activity.processVariable = this.findProcessVariableBySlug(activity.name)
      }
      return activity
    },
    lowerCaseLastActivityName () {
      return (this.lastActivity?.name || '').toLowerCase()
    },
    expectingInput () {
      return this.lastActivity?.type === 'intermediateMessageCatch' &&
        ! this.lowerCaseLastActivityName.includes('zoekhulp')
    },
    pollingPayload () {
      return this.processInstanceToken && this.processInstanceKey && this.runningProcess
        ? {
          token: this.processInstanceToken,
          key: this.processInstanceKey,
        }
        : null
    },
    variableActivities () {
      return this.processInstanceActivities
        .filter(activity => activity.type === 'intermediateMessageCatch')
        .map(processInstanceActivity => {
          processInstanceActivity.processVariable = this.findProcessVariableBySlug(processInstanceActivity.name)
          return processInstanceActivity
        })
    },
    filteredVariableActivities () {
      return this.variableActivities.filter(variableActivity => ! variableActivity.name.toLowerCase().includes('zoekhulp'))
    },
    endEvent () {
      return this.processInstanceActivities.find(activity => activity.type === 'noneEndEvent')
    },
    triggeredCondition () {
      if (! this?.endEvent?.name) {
        return null
      }
      return this.currentProcess.conditions.find(condition => condition.title === this.endEvent.name)
    },
  },
  watch: {
    expectingInput (current) {
      if (current) {
        console.log('watch: expecting input', 'abort: true')
        console.log(this.lowerCaseLastActivityName)
        this.abortCurrentCheck(true)
      }
    },
    pollingPayload (current) {
      console.log('watch:pollingPayload', current)
      if (current) {
        this.startPolling()
      }
    },
    processInstanceActivities (current) {
      console.log('watch: processInstanceActivities', current)
    },
    processInstanceStatus (current) {
      console.log('watch:processInstanceStatus', current)
      if (current !== null && current.toLowerCase() !== 'active') {
        console.log('done')
        this.abortCurrentCheck((this.triggeredCondition?.outcome || '').toLowerCase() !== 'negative')
        console.log(this.triggeredCondition)
      }
    },
    lastActivity (current) {
      console.log('watch:lastActivity', current)
      if (! current) {
        return
      }
      if ((current?.name || '').includes('zoekhulp')) {
        this.sendSubmitVariableRequest(
          current.name,
          this.attributes.find(attribute => attribute.slug === current.name)?.value,
          'String'
        )
        return
      }
    },
  },
  methods: {
    ...mapActions([
      'fetchProcesses',
      'instantiateProcess',
      'fetchProcessInstanceActivities',
      'fetchProcessInstanceStatus',
      'setInputVariables',
      'updateOutputVariables',
      'clearProcessInstance',
      'setResult',
      'setAttribute',
      //
      'setCurrentProgress',
      'setTotalProgress',
      'addMatchingProcess',
      'clearMatchingProcesses',
    ]),
    disagreeToReuseAttributes () {
      this.reuseAttributes = false
      this.dialog = false
      this.instantiateProcess(this.p)
    },
    startPolling () {
      console.log('start polling', this.pollingPayload)
      this.intervalPollingActivities = setInterval(() => {
        if (this.pollingPayload) {
          this.fetchProcessInstanceActivities(this.pollingPayload)
        }
      }, this.pollingInterval)
      this.intervalPollingStatus = setInterval(() => {
        if (this.pollingPayload) {
          this.fetchProcessInstanceStatus(this.pollingPayload)
        }
      }, this.pollingInterval)
    },
    stopPolling () {
      console.log('stop polling')
      clearInterval(this.intervalPollingActivities)
      clearInterval(this.intervalPollingStatus)
    },
    findProcessVariableBySlug (slug) {
      return this.runningProcess.variables.find(variable => variable.slug === slug)
    },
    async sendSubmitVariableRequest (key, value, type) {
      await axios.put(
        `/processInstances/${this.processInstanceKey}/variables`,
        { variables: { [key]: { value, type } } },
        { headers: { Authorization: 'Bearer ' + this.processInstanceToken } }
      )
    },
    checkProcess () {
      if (this.checkedProcesses.length === this.processes.length) {
        this.setCurrentProgress(0)
        this.$router.push({name: 'Home'})
        return
      }
      this.currentProcess = this.processes[this.checkedProcesses.length]

      if (! this.currentProcess.variables.map(v => v.slug).filter(v => v.includes('zoekhulp')).length) {
        this.addMatchingProcess(this.currentProcess.slug)
        this.checkedProcesses.push(this.currentProcess.slug)
        this.setCurrentProgress(this.checkedProcesses.length)
        this.checkProcess()
        return
      }

      this.instantiateProcess(this.currentProcess)
    },
    abortCurrentCheck (success) {
      this.stopPolling()
      this.clearProcessInstance()
      if (success) {
        this.addMatchingProcess(this.currentProcess.slug)
      }
      this.checkedProcesses.push(this.currentProcess.slug)
      this.setCurrentProgress(this.checkedProcesses.length)
      this.checkProcess()
    }
  },
  async created () {
    this.clearProcessInstance()
    this.clearMatchingProcesses()
    await this.fetchProcesses()
    this.setCurrentProgress(0)
    this.setTotalProgress(this.processes.length)
    this.checkProcess()
  },
}
</script>

<style lang="scss">
.zoek-container {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
</style>
