<template>
  <div class="attributes">
    <Attributes />
  </div>
</template>

<script>
import Attributes from '@/components/Attributes.vue'

export default {
  name: 'AttributeView',
  components: {
    Attributes,
  },
}
</script>
