<template>
  <div class="check">
    <Check />
  </div>
</template>

<script>
import Check from '@/components/Check.vue'

export default {
  name: 'CheckView',
  components: {
    Check,
  },
}
</script>

<style>
.check {
  height: 100%;
}
</style>