<template>
  <div class="check-result">
    <CheckResult />
  </div>
</template>

<script>
import CheckResult from '@/components/CheckResult.vue'

export default {
  name: 'CheckResultView',
  components: {
    CheckResult,
  },
}
</script>
