<template>
  <div class="check">
    <CheckEverything />
  </div>
</template>

<script>
import CheckEverything from '@/components/CheckEverything.vue'

export default {
  name: 'CheckEverythingView',
  components: {
    CheckEverything,
  },
}
</script>
