<template>
  <div class="history">
    <v-container>
      <History />
    </v-container>
  </div>
</template>

<script>
import History from '@/components/History.vue'

export default {
  name: 'HistoryView',
  components: {
    History,
  },
}
</script>
