<template>
  <div class="home">
    <v-container>
      <ProcessList />
    </v-container>
  </div>
</template>

<script>
import ProcessList from '@/components/ProcessList.vue'

export default {
  name: 'Home',
  components: {
    ProcessList,
  },
}
</script>
