<template>
  <div class="zoekhulp">
    <Zoekhulp />
  </div>
</template>

<script>
import Zoekhulp from '@/components/Zoekhulp.vue'

export default {
  name: 'ZoekhulpView',
  components: {
    Zoekhulp,
  },
}
</script>
