<template>
  <div class="zoek">
    <Zoek />
  </div>
</template>

<script>
import Zoek from '@/components/Zoek.vue'

export default {
  name: 'ZoekView',
  components: {
    Zoek,
  },
}
</script>

<style>
.zoek {
  height: 100%;
}
</style>